/* Цвет основного текста #757575 */
/* Цвет заголовка  #212121 */
/* белый #FFFFFF */
/* background наша команда #F5F4FA */
/* Акцент #2196F3 */
/* Цвет в футере мейла и телефона rgba(255, 255, 255, 0.6) */
/* background #2F303A героя и подвала */
/* черный в логотипе #000000  */

/* Уникальный контент страницы */
/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order-service {
  justify-content: center;
}
.hero-button {
  display: block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  align-items: center;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-title {
  margin-bottom: 50px;
}
/* Преимущества */
.feature-list {
  display: flex;
}
.feature-list .item {
  width: 270px;
}
.feature-list .item:not(:last-child) {
  margin-right: 30px;
}
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.item > .title {
  margin-bottom: 10px;
}

/* Примеры работ */
.section.work {
  padding-top: 0px;
}
.work-list {
  display: flex;
}
.work-list .item {
  display: block;
  width: 370px;
}
.work-list .item:not(:last-child) {
  margin-right: 30px;
}
.work-list .item > img {
  display: block;
  max-width: 100%;
}
/* Команда */
.section.team {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Карточка учасника команды */
.team-list {
  display: flex;
}
.team-list .item {
  display: block;
  width: 270px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white-color);
  text-align: center;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
/* "Элемент фото с карточки учасника команды */
.team-list .item > img {
  display: block;
  margin-bottom: 30px;
  max-width: 100%;
}
/* Заголовок в карточке учасника команды */
.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
