/* button */
.button {
  display: block;
  padding: 6px 22px;
  border: 0px;

  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/* filter-list */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list > .item:not(:last-child) {
  margin-right: 8px;
}

/* Перечень работ студии */
.studio-works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.studio-works-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.studio-works-list .title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.studio-works-list > .item {
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
  padding-bottom: 20px;
}
.studio-works-list > .item img {
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
}
